.chevrons-row {
  display: flex;
  align-self: stretch;
  justify-content: flex-end;
  min-height: 80px;
}

.chevrons {
  max-width: 276px;
  max-height: 9in;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  svg {
    padding-left: 0.125in;
  }
}

// Temporary until actual configuration of these exists to match them to the
// expanded section.
.chevrons {
  :nth-child(1) {
    align-self: center;
    justify-self: center;
  }
  :nth-child(2) {
    align-self: flex-start;
    justify-self: flex-start;
  }
  :nth-child(3) {
    align-self: flex-end;
    justify-self: flex-end;
  }
}
