@import "../constants";

.history {
  display: flex;
  flex-direction: column;

  .overlay {
    right: unset;
    width: calc(#{$right-col-content-width});
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .experience,
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .description {
    padding-left: 0.75em;
    padding-bottom: 0.125em;
    display: flex;
    justify-content: space-between;
    // Kick this out a little since right-aligned italics are always masked
    // by overflow: hidden.
    padding-right: 0.25em;
  }

  .chunks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .history-chunk {
    flex-grow: 1;
    position: relative;

    .info {
      // This also needs to be relative so we can wrap the absolutely positioned
      // collapsed bullets.
      position: relative;
      width: calc(#{$right-col-width} - #{$enclosure-hor-border-and-padding});
    }

    img,
    video {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      height: 160px;
      width: 160px;
      object-fit: cover;
      border-radius: 15px;
    }
  }
}
