.history {
  transition: 1.5s;

  header {
    display: flex;
    justify-content: space-between;
  }

  .description {
    padding-left: 0.75em;
    padding-bottom: 0.125em;
    display: flex;
    justify-content: space-between;
  }
}
