@import "../constants";

.profile {
  text-align: right;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .overlay {
    left: unset;
    width: calc(#{$left-col-content-width});
  }

  .about,
  .skills,
  .education {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .about .info,
  .skills ul,
  .education .info {
    width: calc(#{$left-col-content-width});
  }

  .initially-hidden {
    opacity: 0;
  }

  .about {
    position: relative;

    .initially-collapsed-heading img {
      border-radius: 15px;
      width: 160px;
      height: 160px;
    }

    .profile-links {
      padding-top: 0.0875in;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap-reverse;

      a {
        display: flex;
        align-items: center;
        width: 70px;
        padding-left: 0.75em;
      }

      svg {
        padding-right: 0.5em;
      }
    }

    .cover-letter {
      position: absolute;
      left: 0;
      text-align: left;
      top: calc(20px + 0.175in);
      max-width: 365px;
    }
  }

  .skills {
    flex-grow: 1;

    ul {
      flex-grow: 1;
      display: grid;
      grid-template-columns: auto auto;
      width: 160px;

      li {
        display: flex;
        position: relative;
        width: 80px;

        .spacer {
          flex-grow: 1;
          min-width: 0px;
          min-height: 0px;
        }

        .skill-name {
          flex-grow: 1;
          text-align: right;
        }

        img {
          position: absolute;
          height: 40px;
          width: 40px;
          left: -60px;
        }
      }
    }

    .skill-level {
      position: absolute;
      top: 25px;
      right: 0;
      display: flex;

      span {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        border-radius: 3px;

        &:nth-child(1) {
          background-color: #c0e5d3;
        }
        &:nth-child(2) {
          background-color: #abddc4;
        }
        &:nth-child(3) {
          background-color: #78c8a1;
        }
        &:nth-child(4) {
          background-color: #57bb8a;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .education {
    position: relative;

    .schools {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .app-academy,
    .sf-state {
      flex-grow: 1;

      img {
        position: absolute;
        left: 0;
        width: 350px;
      }
    }

    .sf-state {
      padding-top: 0.0875in;
    }

    .aa-description {
      // Kick this out a little since right-aligned italics are always masked
      // by overflow: hidden.
      padding-right: 0.25em;
    }
  }
}
