.profile {
  text-align: right;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 670px;

  .profile-links {
    padding-top: 0.0875in;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;

    a {
      display: flex;
      align-items: center;
      width: 70px;
      padding-left: 0.75em;
    }

    svg {
      padding-right: 0.5em;
    }
  }

  .contact {
    // Kick this down a little since the contact section has no heading.
    margin-top: 0.0875in;
  }

  .skills {
    display: flex;
    flex-direction: column;

    ul {
      height: 100%;
      flex-grow: 1;
      display: grid;
      align-items: center;
      grid-template-columns: auto auto;
    }
  }

  .education {
    .aa-description {
      // Kick this out a little since right-aligned italics are always masked
      // by overflow: hidden.
      padding-right: 0.25em;
    }
  }
}
