$border-width: 4px;

$page-width: 8.5in;
$page-height: 11in;
$page-margin: 1in;
$content-width: "(#{$page-width} - (#{$page-margin} * 2))";

$enclosure-hor-padding: 0.25in;
$enclosure-hor-border-and-padding: "((#{$border-width} + #{$enclosure-hor-padding}) * 2)";

$left-col-width: 2.25in;
$left-col-margin: 0.25in;
$left-col-plus-margin: "(#{$left-col-width} + #{$left-col-margin})";

$right-col-width: "(#{$content-width} - #{$left-col-plus-margin})";

$left-col-content-width: "(#{$left-col-width} - #{$enclosure-hor-border-and-padding})";
$right-col-content-width: "(#{$right-col-width} - #{$enclosure-hor-border-and-padding})";

$profile-label-height: 0.667in;
$profile-label-bottom-margin: 0.25in;
$total-profile-label-height: "(#{$profile-label-height} + #{$profile-label-bottom-margin})";
