@import "laf";
@import "constants";

main {
  width: 8.5in;
  height: 11in;
  background-color: white;
  padding: 1in 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.top-header {
  display: flex;
  justify-content: space-between;
  height: 1.125in;
  padding: 0 1in;
}

.columns {
  position: relative;
  height: 7.875in;
}

.left-column,
.right-column {
  height: 100%;
  width: calc(100% - 2in);
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;

  > :last-child {
    flex-grow: 1;
  }
}

.left-column {
  left: calc((-100% + 3in) + 2.25in);

  h3 {
    // Fixes h3s readjusting after animations end
    justify-content: flex-end;
  }
}

.right-column {
  right: calc((-100% + 3in) + 4in);
}

.end-cap-left {
  @include end-cap(
    $side: "left",
    $height: calc(7.875in - #{$total-profile-label-height})
  );
}

.end-cap-right {
  @include end-cap($side: "right", $height: 7.875in);
}
