@import "laf";
@import "constants";

main {
  width: 8.5in;
  height: 11in;
  background-color: white;
  padding: 1in;
  box-sizing: border-box;
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
}

.top-header {
  display: flex;
  justify-content: space-between;
  height: 1.125in;
}

.columns {
  position: relative;
  height: 7.875in;
}

.left-column,
.right-column {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;

  > :last-child {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.left-column {
  width: 2.25in;
  margin-right: 0.25in;

  @include end-cap(
    $side: "left",
    $height: calc(100% - #{$total-profile-label-height})
  );
}

.right-column {
  right: 0;
  width: calc(100% - 2.5in);

  @include end-cap($side: "right", $height: 100%);
}
