main {
  width: 8.5in;
  height: 11in;
  background-color: white;
  padding: 1in;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 2.25in auto;
  grid-template-rows: 0.853in 0.667in auto;
  grid-template-areas:
    "title          chevrons"
    "profile-label  history"
    "profile        history";
  grid-gap: 0.25in;
}

.title {
  grid-area: title;
}

.chevrons {
  grid-area: chevrons;
}

.profile-label {
  grid-area: profile-label;
}

.profile {
  grid-area: profile;
}

.history {
  grid-area: history;
}
