@import "constants";

* {
  transition: none !important;
  -webkit-transition: none !important;
  box-shadow: none !important;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

@page {
  margin: 0;
}

.instructions-container,
.end-cap-left,
.end-cap-right {
  display: none;
}

.left-column {
  width: $left-col-width;
  left: $page-margin;
}

.right-column {
  width: calc(#{$right-col-width});
  right: $page-margin;
}
