@import "./animations/toggle";

.stretchable {
  transition: 1.5s;
  overflow: hidden;
}

.expanded {
  flex-grow: 1;
}

.collapsed {
  flex-grow: 0;
}

.initially-collapsed-heading {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
}
