@import "./animations/toggle";

.stretchable {
  transition: 1s;
  overflow: hidden;
}

.expanded {
  flex-grow: 1;
}

.collapsed {
  flex-grow: 0;
}

.initially-collapsed-heading {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
}

.collapsed.has-initially-collapsed-heading > {
  :not(.initially-collapsed-heading):not(.overlay) {
    @include toggleOff;
  }
  .initially-collapsed-heading {
    @include toggleOn($delay: 0.5s);
  }
}
