@keyframes grow-horizontally {
  to {
    flex-grow: 1;
  }
}

@keyframes reduce-horizontally {
  to {
    width: 92px;
  }
}

@keyframes raise-profile {
  to {
    transform: translateY(-192px);
    height: calc(100% + 192px);
  }
}

@keyframes continue-raising-profile-label-and-title {
  to {
    transform: translateY(-1in);
  }
}
.expanded-profile {
  .left-column {
    animation: raise-profile 1s forwards, grow-horizontally 1s 1s forwards;

    .title,
    .profile-label {
      animation: continue-raising-profile-label-and-title 1s forwards;
    }
  }

  .right-column {
    animation: reduce-horizontally 1s 1s forwards;
  }
}

@keyframes expand-chevrons {
  from {
    min-height: 80px;
  }
  to {
    min-height: 100%;
  }
}

@keyframes continue-lowering-history {
  to {
    margin-top: 1in;
  }
}

@keyframes switch-chevrons-flex-direction {
  to {
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.right-column.lowered {
  .chevrons-row {
    animation: expand-chevrons 1s forwards;
  }

  .history {
    animation: continue-lowering-history 1s forwards;
  }

  .chevrons {
    animation: switch-chevrons-flex-direction linear 0s 1s forwards;
  }
}
