@import "stepAnimate";

main {
  @include step-animate(
    ".right-column",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-history"
  ) {
    transform: translateX(-2.5in);
  }

  @include step-animate(
    ".left-column, .end-cap-left",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-history"
  ) {
    transform: translateX(-3.5in);
  }

  @include step-animate(
    ".right-column .overlay",
    (
      // We have to add opacity here to keep from overriding the existing
        // opacity transition. Opacity is not part of the step animation though,
        // so no value is set in the @content block.
        ("property": "opacity", "step": 1),
      ("property": "width", "step": 2)
    ),
    "expanded-history"
  ) {
    width: 100%;
  }
}
