@import "stepAnimate";

main {
  @include step-animate(
    ".left-column",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-profile"
  ) {
    transform: translateX(4.25in);
  }

  @include step-animate(
    ".left-column .overlay",
    (
      // We have to add opacity here to keep from overriding the existing
        // opacity transition. Opacity is not part of the step animation though,
        // so no value is set in the @content block.
        ("property": "opacity", "step": 1),
      ("property": "width", "step": 2)
    ),
    "expanded-profile"
  ) {
    width: 100%;
  }

  @include step-animate(
    ".left-column .skills li .spacer",
    (
      ("property": "flex-grow", "step": 2),
      ("property": "min-width", "step": 2),
      ("property": "min-height", "step": 2)
    ),
    "expanded-profile"
  ) {
    flex-grow: 0;
    min-width: 60px;
    min-height: 40px;
  }

  @include step-animate(
    ".left-column .skills ul",
    (("property": "padding-left", "step": 2), ("property": "width", "step": 2)),
    "expanded-profile"
  ) {
    // padding-left: 70px;
    // width: 100%;
  }

  @include step-animate(
    ".has-initially-collapsed-heading .initially-collapsed-heading",
    (
      ("property": "max-height", "step": 1),
      ("property": "min-height", "step": 1),
      ("property": "opacity", "step": 3)
    ),
    "expanded-profile"
  ) {
    max-height: calc((20px + 0.175in) + (160px + 0.25in));
    min-height: calc((20px + 0.175in) + (160px + 0.25in));
    opacity: 1;
  }

  @include step-animate(
    ".right-column, .end-cap-right",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-profile"
  ) {
    transform: translateX(5in);
  }
}
