@import "stepAnimate";

main {
  @include step-animate(
    ".left-column",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-profile"
  ) {
    transform: translateX(4.25in);
  }

  @include step-animate(
    ".left-column .skills li.left",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-profile"
  ) {
    transform: translateX(-2.75in);
  }

  @include step-animate(
    ".left-column .skills li.right",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-profile"
  ) {
    transform: translateX(-1in);
  }

  @include step-animate(
    ".has-initially-collapsed-heading .initially-collapsed-heading",
    (
      ("property": "max-height", "step": 1),
      ("property": "min-height", "step": 1),
      ("property": "opacity", "step": 3)
    ),
    "expanded-profile"
  ) {
    max-height: calc((20px + 0.175in) + (160px + 0.25in));
    min-height: calc((20px + 0.175in) + (160px + 0.25in));
    opacity: 1;
  }

  @include step-animate(
    ".right-column, .end-cap-right",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-profile"
  ) {
    transform: translateX(5in);
  }

  &.forward-expanded-profile .left-column .overlay {
    width: 100%;
  }
}
