@import "stepAnimate";

main {
  @include step-animate(
    ".right-column",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-history"
  ) {
    transform: translateX(-2.5in);
  }

  @include step-animate(
    ".left-column, .end-cap-left",
    append(
      $empty-list,
      (
        "property": "transform",
        "step": 2
      )
    ),
    "expanded-history"
  ) {
    transform: translateX(-3.5in);
  }

  &.forward-expanded-history .right-column .overlay {
    width: 100%;
  }
}
