@keyframes toggle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin toggleOn($delay: 0) {
  animation-delay: $delay;
  animation: toggle 0.5s reverse forwards;
}

@mixin toggleOff($delay: 0) {
  animation-delay: $delay;
  animation: toggle 0.5s forwards;
}
