<section class="contact extra-spacing">
    <p>{{phone}}</p>
    <p>{{email}}</p>
    <p>{{location}}</p>
    <div class="profile-links">
        {{#each links}}
        <div>{{name}}</div>
        {{/each}}
    </div>
</section>