<section class="history enclosure">
  <section class="experience stretchable has-overlay">
    <h3>Experience</h3>
    <div class="chunks">
      {{#each experiences as |experience|}}
        {{>project experience}}
      {{/each}}
    </div>

    {{> overlay isReversed=true}}
  </section>

  <div class="divider"></div>

  <section class="projects stretchable has-overlay">
    <h3>Projects</h3>
    <div class="chunks">
      {{#each projects as |project|}}
        {{>project project}}
      {{/each}}
    </div>

    {{> overlay isReversed=true}}
  </section>
</section>
