<div class="overlay{{#if isReversed }} reversed{{/if}}">
  <img inline src="{{inlineSvg 'arrow.svg'}}"></img>
  <img inline src="{{inlineSvg 'arrow.svg'}}"></img>
  <img inline src="{{inlineSvg 'arrow.svg'}}"></img>
</div>
