<section class="profile enclosure">
  <section class="about has-overlay stretchable has-initially-collapsed-heading">
    <div class="initially-collapsed-heading initially-hidden">
      <h3>About</h3>
      <img src="{{asset "headshot.jpg"}}"></img>
    </div>
    {{> overlay }}
    {{> about contact}}
  </section>

  <div class="divider"></div>

  <section class="skills has-overlay stretchable">
    <h3>Skills</h3>
    {{> overlay}}
    <ul class="extra-spacing">
      {{#each skills as |skill|}}
        <li class={{#ifEven @index}}"left"{{else}}"right"{{/ifEven}}>
          {{>skill skill}}
        </li>
      {{/each}}
    </ul>
  </section>

  <div class="divider"></div>

  <section class="education has-overlay stretchable">
    <h3>Education</h3>
    {{> overlay}}
    <div class="schools">
      {{>appAcademy}}
      {{>sfState}}
    </div>
  </section>
</section>
