<div class="sf-state">
  <div class="info">
    <img src="{{asset "sf_state.png"}}" class="initially-hidden">
    <h4 class="subheader">S.F. State University</h4>
    <div class="extra-spacing info">
      <p>B.A. Drama, May 2013&#10;Summa Cum Laude</p>
    </div>
  </div>
</div>
