{{#withParams}}
  <!DOCTYPE html>

  <head>
    <title>Ben Calabrese Resume</title>
  </head>

  <body>
    <main>
      <section class="title">
        <h1>
          {{ name }}
        </h1>
        <h2 class="subtitle">Web Developer</h2>
      </section>
      <section class="chevrons">
        <img inline src="{{asset 'chevron.svg'}}" />
        <img inline src="{{asset 'chevron.svg'}}" />
        <img inline src="{{asset 'chevron.svg'}}" />
      </section>

      <h2 class="profile-label">Profile</h2>

      {{>profile this}}

      {{>history this}}
    </main>
  </body>
{{/withParams}}