{{#withParams}}
  <!DOCTYPE html>

  <head>
    <title>Ben Calabrese Resume</title>
  </head>

  <body>
    <main>
      <div class="left-column">

        <section class="title">
          <h1>{{ name }}</h1>
          <h2 class="subtitle">Web Developer</h2>
        </section>

        <h2 class="profile-label">Profile</h2>

        {{>profile this}}
      </div>

      <div class="right-column">
        <div class="wrapper-wrapper">
          {{!-- <div class="spacer"></div> --}}
          <section class="chevrons">
            <img inline src="{{asset 'chevron.svg'}}" />
            <img inline src="{{asset 'chevron.svg'}}" />
            <img inline src="{{asset 'chevron.svg'}}" />
          </section>
        </div>

        {{>history this}}
      </div>
    </main>
  </body>
{{/withParams}}