{{#withParams}}
  <!DOCTYPE html>

  <head>
    <title>Ben Calabrese Resume</title>
  </head>

  <body>

    <main>
      <header class="top-header">
        <section class="title">
          <h1>Ben Calabrese</h1>
          <h2 class="subtitle">Web Developer</h2>
        </section>

        <div class="chevrons-row">
          <section class="chevrons">
            <img inline src="{{inlineSvg 'chevron.svg'}}" />
            <img inline src="{{inlineSvg 'chevron.svg'}}" />
            <img inline src="{{inlineSvg 'chevron.svg'}}" />
          </section>
        </div>
      </header>

      <div class="columns">
        <div class="left-column">
          <h2 class="profile-label">Profile</h2>
          <div class="end-cap"></div>
          {{>profile this}}
        </div>

        <div class="right-column">
          {{>history this}}
        </div>
      </div>
    </main>
  </body>
{{/withParams}}
