{{#withParams}}
  <!DOCTYPE html>

  <head>
    <title>Ben Calabrese Resume</title>
    <script src="https://kit.fontawesome.com/9a56a3ed52.js"></script>
  </head>

  <body>
    {{>instructions}}

    <main>
      <header class="top-header">
        <section class="title">
          <h1>Ben Calabrese</h1>
          <h2 class="subtitle">Web Developer</h2>
        </section>

        <div class="chevrons-row">
          <section class="chevrons">
            <img inline src="{{inlineSvg 'chevron.svg'}}" />
            <img inline src="{{inlineSvg 'chevron.svg'}}" />
            <img inline src="{{inlineSvg 'chevron.svg'}}" />
          </section>
        </div>
      </header>

      <div class="end-cap-left"></div>
      <div class="end-cap-right"></div>

      <div class="columns">

        <div class="left-column">
          <h2 class="profile-label">Profile</h2>
          {{>profile this}}
        </div>

        <div class="right-column">
          {{>history this}}
        </div>
    </main>
  </body>
{{/withParams}}
